<%= render 'shared/page_title', title: "Todas las categorías" %> 

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Ofertas", offers_path %>
  </li>
  <li>
    <%= link_to "Usuarios", users_path %>
  </li>
  <li>
    <%= link_to "Categorías", cars_path %>
  </li>
  <li class='active'>
    <%= link_to "Clientes", appusers_path %>
  </li>
</ul>

  <br><br>

<table class="table table-hover ">
  <thead>
    <tr>
      <th>
        Nombre(s)
      </th>
      <th>
        Appellido Paterno
      </th>
      <th>
        Apellido Materno
      </th>
       <th>
        Teléfono
      </th>
       <th>
        Correo electrónico
      </th>
    </tr>
  </thead>
  
  <tbody>
   
      <% @appusers.each do |appuser| %>
       <tr>
         <td><%= link_to appuser.name, appuser_path(appuser) %></td>
         <td><%= link_to appuser.first_last_name, appuser_path(appuser) %></td>
         <td><%= link_to appuser.second_last_name, appuser_path(appuser) %></td>
         <td><%= link_to " (" + appuser.lada+ ") " + appuser.phone, appuser_path(appuser) %></td>
         <td><%= link_to appuser.email, appuser_path(appuser) %></td>
         <% if logged_in? and current_user.admin? %>
           <td class="small"><%= link_to "Eliminar", appuser, method: :delete, data: {confirm: "¿Estás seguro?"} %></td>
         <% end %>
        </tr>
      <% end %>
    
   
  </tbody>
</table>

