<%= render 'shared/page_title', title: "Todas las categorías" %> 

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Ofertas", offers_path %>
  </li>
  <li>
    <%= link_to "Usuarios", users_path %>
  </li>
  <li>
    <%= link_to "Categorías", cars_path %>
  </li>
  <li class='active'>
    <%= link_to "Clientes", appusers_path %>
  </li>
</ul>

<%= will_paginate %>
  <br><br>
<% @appusers.each do |appuser| %>
  <div class="row">
      <div class="col-lg-offset-2 col-lg-4 well">
         <h4><%= link_to appuser.name, appuser_path(appuser) %></h4>
        
      </div>
  </div>
  <hr/>
<% end %>

<%= will_paginate %>