<%= render 'shared/page_title', title: @appuser.name %> 
<%= render 'shared/errors', obj: @appuser %>
<div class="row">
  <div class="col-md-4  center">
    
  
  <div class="col-md-8">
    <div class="well">
      <strong>Nombre: </strong>
      <%= @appuser.name %> <br>
      
      <strong>Apellido Paterno: </strong>
      <%= @appuser.first_last_name %> <br>
      
      <strong>Apellido Materno: </strong>
      <%= @appuser.second_last_name %> <br>
      
      <strong>LADA: </strong>
      <%= @appuser.lada %> <br>
      
      <strong>Teléfono: </strong>
      <%= @appuser.phone %> <br>
      
      <strong>Correo electrónico: </strong>
      <%= @appuser.email %> <br>
      
      <strong>Modelo: </strong>
      <%= @appuser.model %> <br>
      
      <strong>No. de Serie: </strong>
      <%= @appuser.serial_number %> <br>
  
  </div>
</div>

<h5><%= link_to "Regresar a la Lista de Clientes", appusers_path, class:"btn btn-danger btn-small" %></h5>