<%= render 'shared/errors', obj: @offer %>
<div class="row">
    <div class="well  col-md-8 col-md-offset-2">
      <%= form_for(@offer,html: { multipart: true }) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name , class: "charcount_field",:maxlength => 100 %>
       <div class="pull-right"><span class="small charcount-number" id="char-count-name"></span></div><br><br>
       
      <%= f.label :summary %>
      <%= f.text_field :summary, class: "charcount_field",:maxlength => 150 %>
       <div class="pull-right"><span class="small charcount-number" id="char-count-summary"></span></div><br><br>
     

      <%= f.label :description %>
      <%= f.text_area :description,class: "charcount_field", rows: 6,:maxlength => 500 %>
       <div class="pull-right"><span class="small charcount-number" id="char-count-description"></span></div><br><br>
       

      
      
        <strong>Publicar para:</strong> </strong>
        <div style="width:500px;left:15px">
      <%= f.collection_check_boxes :car_ids, Car.all,:id,:name do |cbi| %>
        <% cbi.label(class:"checkbox-inline input_checkbox"){ cbi.check_box(class:"checkbox") + cbi.text} %>
      <%end%>
      <br><br>
      </div>
       <%= f.label "Seleccionar años: " %>
      &nbsp&nbsp&nbsp&nbsp<%= f.check_box :hasyears, class: 'auto-width', :onclick => "$('#yearsSelect')[this.checked ? 'show' : 'hide']();"%>
      
      <div id="yearsSelect" style="display: none">
       <div class="topmargin10"><strong>Años del modelo:</strong> </strong><br>
       <%= f.label "Desde: ", class: "topmargin10"%>
       <%= f.select :min_year, options_for_select([['2000','2000'],['2001','2001'],['2002','2002'],['2003','2003'],['2004','2004'],['2005','2005'],['2006','2006'],['2007','2007'],['2008','2008'],['2009','2009'],['2010','2010'],['2011','2011'],['2012','2012'],['2013','2013'],['2014','2014'],['2015','2015'],['2016','2016']]), {}, {autofocus: 'true', class: 'auto-width'}%>
       &nbsp&nbsp&nbsp&nbsp&nbsp<%= f.label "Hasta: " %>
       <%= f.select :max_year, options_for_select([['2000','2000'],['2001','2001'],['2002','2002'],['2003','2003'],['2004','2004'],['2005','2005'],['2006','2006'],['2007','2007'],['2008','2008'],['2009','2009'],['2010','2010'],['2011','2011'],['2012','2012'],['2013','2013'],['2014','2014'],['2015','2015'],['2016','2016']]), {}, {autofocus: 'true', class: 'auto-width'}%>
      </div></div>
      <br><%= f.label :picture %>
      <span class="picture topmargin10">
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png'%>
      </span>
      
      <%= f.submit(@offer.new_record? ? 'Crear Oferta' : 'Editar Oferta', class: "btn btn-danger")%>
      <%end%>
    </div>
  </div>
  
   <script type="text/javascript">
    $('#offer_picture').bind('change',function(){
      size_in_megabytes = this.files[0].size/1024/1024;
      if(size_in_megabytes > 0.25){
        alert('El achivo debe pesar menos de 256 KB. Escoge un archivo con menor tamaño')
      }
    });
    
    $('#offer_name').on('keyup keydown', '', function(e) {
    var maxLen = 100;
    var left = maxLen - $(this).val().length;
    $('#char-count-name').html(left);
    
    if(left > 10)
      $("#char-count-name").css('color', 'gray');
    else
      $("#char-count-name").css('color', 'red');
    }); 
    
    
    $('#offer_summary').on('keyup keydown', '', function(e) {
    var maxLen = 150;
    var left = maxLen - $(this).val().length;
    $('#char-count-summary').html(left);
    
    if(left > 10)
      $("#char-count-summary").css('color', 'gray');
    else
      $("#char-count-summary").css('color', 'red');
    }); 
    
    
    $('#offer_description').on('keyup keydown', '', function(e) {
    var maxLen = 500;
    var left = maxLen - $(this).val().length;
    $('#char-count-description').html(left);
    
    if(left > 10)
      $("#char-count-description").css('color', 'gray');
    else
      $("#char-count-description").css('color', 'red');
    }); 

  </script>