<%= render 'shared/page_title', title: "Todas las ofertas" %> 

<ul class="nav nav-tabs">
  <li class='active'>
    <%= link_to "Ofertas", offers_path %>
  </li>
  <li>
    <%= link_to "Usuarios", users_path %>
  </li>
  <li>
    <%= link_to "Categorías", cars_path %>
  </li>
  <li>
    <%= link_to "Clientes", appusers_path %>
  </li>
</ul>

<%= will_paginate %>

<% @offers.each do |offer| %>
  <div class="row">
    
      <div class="col-md-2">
        <section class="chef_info center">
          <% if offer.user %>
            <% if offer.user.picture? %>
              <%= link_to image_tag(offer.user.picture.url,size: "100x100",class: "gravatar") ,user_path(offer.user) %>
            <%else%>
              <%= link_to image_tag("seatLogo.png", size:"100x100",class: "gravatar"),user_path(offer.user) %>
            <%end%>
          <% else %>
            <%= image_tag("seatLogo.png", size:"100x100",class: "gravatar") %>
          <% end %>
           <% if offer.user %>
            <h5 class= "username_red">Usuario: <%= offer.user.username %></h5>
          <% else %>
            <h5 class= "username_gray">Usuario eliminado</h5>
          <% end %>
        </section>
      </div>
      <div class="col-lg-6 well">
         <h4><%= link_to offer.name, offer_path(offer) %></h4>
         <p><%= offer.summary %></p>
        <% if offer.cars.any? %>
        <p>Publicado para modelos: <%= render offer.cars %></p>
         <% end %>
       
           <span class = "quiet">
             <small>
              creado: <%=time_ago_in_words(offer.created_at)%>, 
             </small>
           </span>
           <span class = "quiet">
             <small>
                editado: <%= time_ago_in_words(offer.updated_at)%>
             </small>
           </span>
         </p>
      </div>
      <div class="col-md-4">
        <%= image_tag(offer.picture.url,size: "190x160",class: "gravatar") if offer.picture? %>
      </div>
  </div>
  <hr/>
<% end %>

<%= will_paginate %>