<%= render 'shared/page_title', title: "Todas las categorías" %> 

<ul class="nav nav-tabs">
  <li>
    <%= link_to "Ofertas", offers_path %>
  </li>
  <li>
    <%= link_to "Usuarios", users_path %>
  </li>
  <li class='active'>
    <%= link_to "Categorías", cars_path %>
  </li>
  <li>
    <%= link_to "Clientes", appusers_path %>
  </li>
</ul>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
  </div>
</div>

  <br><br>
  <% if current_user.developer? %>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-4 well center">
     <%= link_to (new_car_path) do %>
        <div class="center">Nueva categoría <span class="glyphicon glyphicon-plus"></span></div>
     <% end %>
  </div></div><%end%>

<% @cars.each do |car| %>
  <div class="row">
      <div class="col-lg-offset-4 col-lg-4 well center gross-border-red">
         <h4><%= link_to car.name, car_path(car) %></h4>
         <% if current_user.developer? %>
         <div class="small pull-right"> &nbsp &nbsp &nbsp<%= link_to "Eliminar", car, method: :delete, data: {confirm: "¿Estás seguro?"} %></div>
        
         <div class="small pull-right"><%= link_to "Editar",edit_car_path(car) %></div><%end%>
         
      </div>
  </div>
  <hr/>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
  </div>
</div>