<header class="navbar navbar-fixed-top navbar-default">
  <div class="container">
    <%= link_to "SEAT Pachuca",root_path,class: "btn btn-lg btn-icon", id: "logo"%>
   
    <% if logged_in? %>
      <ul class="nav_ul_item">
       <li class="dropdown">
        <%= link_to '#', class: "btn btn-md btn-default btn-danger dropdown-toggle","data-toggle" => "dropdown" do %>
          Categorías<b class="caret"></b>
        <%end%>
      <ul class ='dropdown-menu'>
        <% Car.all.each do |car| %>
          <li><%= link_to car.name,car_path(car) %></li>
        <% end%>
        <% if current_user.developer? %>
          <li class= "divider"></li>
          <li> 
            <%= link_to (new_car_path) do %>
              Nueva categoría
            <% end %>
          </li>
        <% end %>
      </ul>
      </li>
    </ul>
    <% if current_user.admin? %>
     <ul class="nav_ul_item username_red ">
      <%= link_to "Crear usuario",register_path,class: "btn btn-default"%>
    </ul>
    <%end%>
    
    <ul class="nav_ul_item username_red">
       <%= link_to "Crear oferta",new_offer_path,class: "btn btn-default"%>
    </ul>
    
    <ul class="nav_ul_item username_red">
       <%= link_to "Notificaciones Push",notifications_path,class: "btn btn-default"%>
    </ul>
    
       
    <ul class="nav_item">
      <li class="dropdown">
        <%= link_to '#', class: "btn btn-default btn-danger dropdown-toggle","data-toggle" => "dropdown" do %>
          <%= current_user.username %> <b class="caret"></b>
          <%end%>
          <ul class ='dropdown-menu'>
            <li><%= link_to "Ver Perfil", user_path(current_user) %></li>
            <li><%= link_to "Editar Perfil", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li><%= link_to "Cerrar sesión", logout_path %></li>
          </ul>
      </li>
    </ul>
    <%else%>
      <%= link_to "Iniciar sesión",login_path,class: "btn btn-lg btn-icon", id: "session"%>
    <%end%>
    
    
  </div>
</header>